<div class="container">
  <div class="row">
    <div class="col">

      <app-create-product (createProduct)="addProduct($event)"></app-create-product>

    </div>
    <div class="col">
      <div class="row mt-3">

        <app-one-product
          class="col-4 mb-4"
          *ngFor="let product of ps.products; let i = index;"
          [product]="product"
          [thesi]="i"
        ></app-one-product>

      </div>
    </div>
  </div>
</div>
