<div class="card">
  <img class="card-img-top img-fluid" src="{{ product.photoUrl }}">
  <img id="blackFriday" [style.display]="'none'" class="card-img-top" src="../assets/blackfriday.png"
       [ngClass]="{'active': product.blackFriday }">
  <div class="card-body">
    <h5>{{ product.brand }}</h5>
    <h6>{{ product.model }}</h6>
    <p class="card-text text-center">{{ product.price }}&euro;</p>
  </div>
  <button (click)="removeProduct()" type="button" class="btn btn-danger btn-sm float-right">
    <i class="fa fa-remove"></i>
  </button>
</div>
