<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-3">
        <h1>Products</h1>
      </div>
    </div>
    <div class="col">
      <div class="float-right mt-3">
        <a href="#">
          <i class="fa fa-facebook ml-3"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter ml-3"></i>
        </a>
      </div>
    </div>
  </div>
</div>