i {
    font-size: 1.5em;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}
