/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';

.active {
  display:block !important;
}
#blackFriday {
  position:absolute;
  width:50%;
  top:-20px;
  right:-30px;
}
.card-body h6 {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
