<h2 class="mt-3">New Product</h2>
<h3 class="mt-3">Brand</h3>
<input [(ngModel)]="form.brand" class="form-control form-control-lg" type="text" placeholder="New brand...">
<h3 class="mt-3">Model</h3>
<input [(ngModel)]="form.model" class="form-control form-control-lg" type="text" placeholder="New model...">
<h3 class="mt-3">Photo Url</h3>
<input [(ngModel)]="form.photoUrl" class="form-control form-control-lg" type="text" placeholder="New photo url...">
<h3 class="mt-3">Price</h3>
<input [(ngModel)]="form.price" class="form-control form-control-lg" type="text" placeholder="New price...">
<div class="row">
  <div class="col">
    <h3 class="mt-3">Black Friday</h3>
  </div>
  <div class="col">
    <input [(ngModel)]="form.blackFriday" type="checkbox" class="form-check-input big-checkbox mt-3">
  </div>
</div>
<button (click)="addProduct()" type="button" class="btn btn-primary mt-3">Add product</button>
<div class="row">
  <div class="col-4 mt-3">
    <div class="card">Preview
      <img class="card-img-top img-fluid" src="{{ form.photoUrl }}">
      <img id="blackFriday" [style.display]="'none'" class="card-img-top" src="../assets/blackfriday.png"
           [ngClass]="{'active': form.blackFriday }">
      <div class="card-body">
        <h5>{{ form.brand }}</h5>
        <h6>{{ form.model }}</h6>
        <p class="card-text">{{ form.price }}&euro;</p>
      </div>
    </div>
  </div>
</div>
